<div id="detail-layout">
  {{#each cocktails}}
  <div class="cocktail-detail">
    <h2>{{this.strDrink}}</h2>

    <a href="/drinks/{{this.idDrink}}"><img src="{{this.strDrinkThumb}}" alt="" width="250"></a>
    <p>{{this.strDrink}} / {{ this.strAlcoholic }}</p>

  <div id="instructions-div">
    <h3>Instructions</h3>
    <p>{{this.strInstructions}}</p>
  </div>
    {{!-- Need to find a way to iterate across ingredients to avoid hard-coding X ingredients in the list - A.Garcia --}}

     <div id="detail-ingr">
    <h3>Ingredients</h3>
   
    
      <p>{{this.strMeasure1}} {{this.strIngredient1}}</p>
      <p>{{this.strMeasure2}} {{this.strIngredient2}}</p>
      <p>{{this.strMeasure3}} {{this.strIngredient3}}</p>
      <p>{{this.strMeasure4}} {{this.strIngredient4}}</p>
      <p>{{this.strMeasure5}} {{this.strIngredient5}}</p>
      <p>{{this.strMeasure6}} {{this.strIngredient6}}</p>
      <p>{{this.strMeasure7}} {{this.strIngredient7}}</p>
      <p>{{this.strMeasure8}} {{this.strIngredient8}}</p>
   
  </div>
  </div>
  {{/each}}


  <div id="comments-div">
    <h2>Comments</h2>
    {{#unless post.comments}}
    <p>No comments yet!</p>
    {{/unless}}

    {{#each post.comments}}
    <p> <b> {{ this.author.username }} </b>: {{ this.content }} </p>
    {{/each}}
  </div>

  <div id="add-comment-div">
    <h3> Add a comment </h3>

    <form action="/drinks/{{idDrink}}/comment" method="POST">
      <textarea name="content" cols="50" rows="10"></textarea>
      <div class="nav-button button-e" id="">
      <div id="circle"></div>
      <button id="add-comment-btn"type="submit"> Comment </button>
      </div>

    </form>

  </div>
</div>