<h2>{{drinks.strDrink}}</h2>

<div class="single-cocktail">
  <a href="/drinks/{{drinks.idDrink}}"><img src="{{drinks.strDrinkThumb}}" alt="" width="100"></a>
  <p>{{drinks.strDrink}} / {{ drinks.strAlcoholic }}</p>
</div>